<!-- app/views/templates/me.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Me</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>About Me</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{{ url_for('main.index') }}">Go to Home</a></li>
            <li><a href="{{ url_for('main.noticias') }}">Go to "Noticias"</a></li>
            <li><a href="{{ url_for('main.ranking') }}">Go to "Ranking"</a></li>
        </ul>
    </nav>

    <main>
        <section class="about-me">
            <h2>Who Am I?</h2>
            <p>Insert information about yourself here.</p>

            <!-- Add more content as needed -->
        </section>
    </main>
</body>
</html>
